;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[binaryage/devtools "0.9.7"]
                [reagent "0.8.0-alpha2"]
                [org.clojure/data.xml "0.2.0-alpha6"]
                [cider/cider-nrepl "0.24.0"]
                [cljs-http "0.1.46"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl        {:port 8777}

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main
         {:entries [brawl.core]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load cljs-mpd.core/stop
         ;; after live-reloading finishes call this function
         :after-load cljs-mpd.core/start
         ;; serve the public directory over http at port 8700
         :http-root    "resources/public"
         :http-port    8700
         :preloads     [devtools.preload]}
        }}}
